@keyframes up {
    from {
        opacity: 0;
        transform: translateY(16px);    
}

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes right {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.animate-up {
    animation: up 300ms backwards;
}

.animate-right {
    animation: right 700ms;
}